@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,800;1,400;1,700&display=swap');
*{
    box-sizing: border-box;

}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-image: url("https://images.unsplash.com/photo-1477601263568-180e2c6d046e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.countdown-container{
    display: flex;

}
h1{
    font-weight: normal;
    font-size: 300px;
    margin-top: 20rem;
}
.bigtext{
    font-weight: bold;
    font-size: 300px;
    line-height: 1;
    margin: 0 5rem;
}
.countdown-el {
    text-align: center;
}
.countdown-el span{
    font-weight: normal;
    font-size: 3rem;
}

